[Unit]
Description=Bloop server
AssertFileIsExecutable=%h/.nix-profile/bin/bloop

[Service]
ExecStart=%h/.nix-profile/bin/bloop server -J-Xss8m -J-Xmx8g -J-XX:MaxInlineLevel=20
Restart=always
NoNewPrivileges=true
Environment="PATH=/run/current-system/sw/bin/"

[Install]
WantedBy=default.target
