[Unit]
Description=Bloop server
AssertFileIsExecutable="$HOME/.nix-profile/bin/blp-server"

[Service]
ExecStart="%h/.nix-profile/bin/blp-server"
Restart=always
NoNewPrivileges=true

[Install]
WantedBy=default.target
