[Unit]
Description=Bloop server
AssertFileIsExecutable=%h/.nix-profile/bin/blp-server
AssertFileIsExecutable=%h/bin/bloop_server

[Service]
ExecStart=%h/bin/bloop_server
Restart=always
NoNewPrivileges=true

[Install]
WantedBy=default.target
