[user]
    name = Sarunas Valaskevicius
    email = rakatan@gmail.com

[push]
	default = current

[core]
  quotepath = false
  excludesfile = ~/.gitignore_global
  autocrlf = input
	preloadindex = true
  pager = git-fancy-diff | less --tabs=4 -RFX

[interactive]
    singlekey = true
	  diffFilter = (echo && git-fancy-diff)

[url "git://github.com/"]
    insteadOf = gh:

[url "git@github.com:"]
    insteadOf = wgh:

[color]
    branch = auto
    diff   = auto
    status = auto

[apply]
    whitespace = nowarn

[alias]
    s  = status -s
    st = status
    a  = add
    c  = commit -v
    ci = commit
    ca = commit -av
    u  = reset HEAD

    b  = branch
    br = branch
    bn = checkout -b
    co = checkout

    d  = diff
    dc = diff --cached
    ds = diff --stat
    m  = merge --no-ff

    l = log --oneline --graph
    lg = log --graph --color --full-history --date=short --pretty=format:\"%Cred%h%Cblue%d %Creset %s %C(green)(%an) %Creset%ad\"
    t = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lgall = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%h%Cblue%d %Creset %s %C(green)(%an) %Creset%ad\"

    review = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if test "$SHA" = "$BRANCH" ; then SHA=HEAD; fi; git difftool -y -t kdiff3 $BRANCH...$SHA; }; f"

    please = push --force-with-lease

    su = !BR=$(git symbolic-ref --short HEAD) && git branch --set-upstream-to=origin/"$BR" "$BR"

[web]
    browser = xdg-open

[difftool]
    prompt = false

[mergetool]
    prompt = false

[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[gc]
	auto = 256


