[submodule ".local/share/omf"]
	path = .local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule ".xmonad/xmonad"]
	path = .xmonad/xmonad
	url = https://github.com/xmonad/xmonad.git
[submodule ".xmonad/xmonad-contrib"]
	path = .xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib.git
[submodule "/home/sarunas/.config/kitty/kitty-themes"]
	path = /home/sarunas/.config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "src/nixpkgs"]
	path = src/nixpkgs
	url = git@github.com:svalaskevicius/nixpkgs.git
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
